.title {
    -fx-font-size: 60px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}

.text {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
    -fx-font-weight: 400;
}

.button {
    -fx-font-size: 16px;
    -fx-padding: 5px 15px;
    -fx-background-radius: 5px;
}

.level-button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-background-color: gray;
}